@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(160deg,#FFDEAD, #BDB76B);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;
    height: 600px;
    width: 1400px;
    background: transparent;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}
.relogio div {
    height: 570px;
    width: 300px;
    background: rgba(0, 0, 0, .9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: white;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    letter-spacing: 3px;    
}
.relogio span {
    font-weight: bolder;
    font-size: 135px;
    padding: 0px 0px 00px;
}
.relogio span.tempo {
    font-size: 40px;
    padding: 100px 0px 0px;
    cursor: pointer;
}